<div class="modal-header">
  <h4 class="modal-title">Nueva reservacion</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

  <br>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-9">
        <label>Nombre</label>
        <input type="text" [formControl]="name" class="form-control" id="inputEmail4" placeholder="Nombre">

        <label>Descripcion</label>
        <input type="text" [formControl]="description" class="form-control" id="inputPassword4"
          placeholder="Descripcion">

        <label>Email</label>
        <input type="text" [formControl]="email" class="form-control" id="inputPassword4" placeholder="email">

        <div class=" modal-footer">
          <button class="btn btn-outline-dark" (click)="guardar()">Reservar</button>
        </div>
      </div>
    </div>
  </div>