<!--The content below is only a placeholder and can be replaced.-->




<div class="container">
  <div class="row justify-content-end">

    <input type="text" [formControl]="id" class="form-control col-1 align-self-center" id="inputEmail4" placeholder="id">
    <button  class="btn  btn-secondary align-self-center" (click)="buscar()">Buscar</button>
    &nbsp;
    <button class="btn  btn-primary align-self-center" (click)="open()">Nuevo</button><br>
  </div>
  <div class="container">
    <div *ngFor="let item of reservaciones" class="row">
      <div class="card col-md-3 col-md-sm-6" style="width: 18rem;">
        <!-- <img src="{{item.image}}" class="card-img-top" alt=""> -->
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">
            Descripcion: <strong>{{item.description}}</strong><br>
            Email: <strong>{{item.email}}</strong><br>
          </p>
          <!-- <button class="btn btn-primary" routerLink="editar/{{item.id}}">Editar</button>
          &nbsp; -->
          <!-- forma de poner espacio -->
          <!-- <button class="btn btn-danger" (click)="eliminar(item.id)" routerLink="">Eliminar</button> -->
        </div>
      </div>
      <div class="card col-auto">
        <br>
        <a class="btn btn-info btn-sm btn-block" (click)="openedit(item.id)">Editar</a>
        <a class="btn btn-danger btn-sm btn-block" (click)="eliminar(item.id)">Eliminar</a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>